{% extends 'layout.html' %}
{% block content %}
<script>

  var endpoint = '/web/PathFinder/v1.0/data/to-day'
  var endpoint_data = '/web/PathFinder/v1.0/data/'
  var actual_data = []
  var labels = []
  var casesData = {}

// retrieve graph data
  $.ajax({
    method:"GET",
    url: endpoint,
    success: function (data) {
      crimesdata = data.crimesdata
      labels = crimesdata.labels
      actual_data = crimesdata.data
      setChart()
    },
    error:function(error) {
      console.error(error);
    }
  })


// retrieve cases data
$.ajax({
  method:"GET",
  url:endpoint_data,
  success: function (data) {
    casesData = data.casesData
    setCasesData()
  },
  error:function(error){
    console.error(error);
  }
})

  function setCasesData() {
    $(document).ready(function(){
      document.getElementById("murder").innerHTML = casesData.murder
      document.getElementById("kidnap").innerHTML = casesData.kidnap
      document.getElementById("robbery").innerHTML = casesData.robbery
      document.getElementById("theft").innerHTML = casesData.thefty
    })
  }

  function setChart(){
    $(document).ready(function(){

      var ctx = document.getElementById("Daily_chart");
      // var ctx2 = document.getElementById("myChart2");
      var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: labels,
          datasets: [{
              data: actual_data,
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)'
              ],
              borderColor: [
                  'rgba(255,99,132,1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero:true
                  }
              }]
          }
      }
  });

    })

}
</script>
    {% include '/partials/topnav.html' %}
    {% include '/partials/mobiletop.html' %}
    {% include '/partials/navbar.html' %}

    <!-- Start Status area -->
    <div class="notika-status-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30">
                        <div class="website-traffic-ctn">
                            <h2><span class="counter" id="murder"></span> cases</h2>
                            <p>Murder</p>
                        </div>
                        <div class="sparkline-bar-stats1">9,4,8,6,5,6,4,8,3,5,9,5</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30">
                        <div class="website-traffic-ctn">
                            <h2><span class="counter" id="theft"></span> cases</h2>
                            <p>Theft</p>
                        </div>
                        <div class="sparkline-bar-stats2">1,4,8,3,5,6,4,8,3,3,9,5</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30 dk-res-mg-t-30">
                        <div class="website-traffic-ctn">
                            <h2><span class="counter" id="kidnap"></span> cases</h2>
                            <p>Kidnap</p>
                        </div>
                        <div class="sparkline-bar-stats3">4,2,8,2,5,6,3,8,3,5,9,5</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30 dk-res-mg-t-30">
                        <div class="website-traffic-ctn">
                            <h2><span class="counter" id="robbery"></span> cases</h2>
                            <p>Robbery</p>
                        </div>
                        <div class="sparkline-bar-stats4">2,4,8,4,5,7,4,7,3,5,7,5</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Status area-->
    <!-- Start Sale Statistic area-->
    <div class="sale-statistic-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-8 col-sm-7 col-xs-12">
                    <div class="sale-statistic-inner notika-shadow mg-tb-30">
                        <div class="curved-inner-pro">
                            <div class="curved-ctn">
                                <h2>Daily Crime Statistics</h2>
                                <p></p>
                            </div>
                        </div>
                        <!-- <div id="Daily_chart" class="flot-chart-sts flot-chart"></div> -->
                        <canvas id="Daily_chart" class="flot-chart-sts flot-chart" width="150" height="150"></canvas>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12">
                    <div class="statistic-right-area notika-shadow mg-tb-30 sm-res-mg-t-0">
                        <div class="past-day-statis">
                            <h2>For The Past 30 Days</h2>
                            <p>Fusce eget dolor id justo luctus the commodo vel pharetra nisi. Donec velit of libero.</p>
                        </div>
                        <div class="past-statistic-an">
                            <div class="past-statistic-ctn">
                                <h3><span class="counter">306</span></h3>
                                <p>File cases</p>
                            </div>
                            <div class="past-statistic-graph">
                                <div class="stats-bar"></div>
                            </div>
                        </div>
                        <div class="past-statistic-an">
                            <div class="past-statistic-ctn">
                                <h3><span class="counter">103</span></h3>
                                <p>Solved cases</p>
                            </div>
                            <div class="past-statistic-graph">
                                <div class="stats-line"></div>
                            </div>
                        </div>
                        <div class="past-statistic-an">
                            <div class="past-statistic-ctn">
                                <h3><span class="counter">203</span></h3>
                                <p>Pending Cases</p>
                            </div>
                            <div class="past-statistic-graph">
                                <div class="stats-bar-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Sale Statistic area-->

    <!-- Start Map Statistic area-->
    <div class="sale-statistic-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="sale-statistic-inner notika-shadow mg-tb-30">
                            <div class="curved-inner-pro">
                                <div class="curved-ctn">
                                    <h2>Map Crime Statistics</h2>
                                    <p></p>
                                </div>
                            </div>
                            <!-- show maps here -->
                                {% include '/pages/gmap_plot.html' %}
                            <!-- maps here -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Map Statistic area-->


{% endblock %}
