{% extends 'layout.html' %}
{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
    {% include '/partials/topnav.html' %}
    {% include '/partials/mobiletop.html' %}
    {% include '/partials/navbar.html' %}

    <div class="container" style="height:80vh;">
        <div class="row">
        <div class="col-lg-10 col-md-10">
        <div class="content-section">
            <br/>
            {{ utils.flashed_messages() }}
            <br/>
            <div class="center">
                <div class="row">
                    <div class="col-md-9">
                      <h1>Register the Police Station Here</h1>
                    </div>
                    <div class="col-md-3">
                        <a href="" class="btn btn-secondary">Add a User</a>
                        </div>
                </div>
              
              <hr/>
              {{ wtf.quick_form(form) }}
            </div>
          </div>
          </div>
          </div>

          <table class="table table-bordered" style="margin-top:100px;">
              <th>#</th>
              <th>Station Name</th>
              <th>Division</th>
              <th>Action</th>
          
          <tbody>
              {% for station in policestation %}
                <tr>
                    <td>{{ station.id }}</td>
                    <td>{{ station.StationName }}</td>
                    <td>{{ station.division }}</td>
                    <td>Edit|Delete</td>
                </tr>
                {% endfor %}
          </tbody>
          </table>
    </div>
{% endblock %}
