    <!-- jquery
    ============================================ -->
    <script src="/static/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
        ============================================ -->
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- wow JS
        ============================================ -->
    <script src="/static/js/wow.min.js"></script>
    <!-- price-slider JS
        ============================================ -->
    <script src="/static/js/jquery-price-slider.js"></script>
    <!-- owl.carousel JS
        ============================================ -->
    <script src="/static/js/owl.carousel.min.js"></script>
    <!-- scrollUp JS
        ============================================ -->
    <script src="/static/js/jquery.scrollUp.min.js"></script>
    <!-- meanmenu JS
        ============================================ -->
    <script src="/static/js/meanmenu/jquery.meanmenu.js"></script>
    <!-- counterup JS
        ============================================ -->
    <script src="/static/js/counterup/jquery.counterup.min.js"></script>
    <script src="/static/js/counterup/waypoints.min.js"></script>
    <script src="/static/js/counterup/counterup-active.js"></script>
    <!-- mCustomScrollbar JS
        ============================================ -->
    <script src="/static/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- jvectormap JS
        ============================================ -->
    <script src="/static/js/jvectormap/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="/static/js/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="/static/js/jvectormap/jvectormap-active.js"></script>
    <!-- sparkline JS
        ============================================ -->
    <script src="/static/js/sparkline/jquery.sparkline.min.js"></script>
    <script src="/static/js/sparkline/sparkline-active.js"></script>
    <!-- sparkline JS
        ============================================ -->
    <script src="/static/js/flot/jquery.flot.js"></script>
    <script src="/static/js/flot/jquery.flot.resize.js"></script>
    <script src="/static/js/flot/curvedLines.js"></script>
    <script src="/static/js/flot/flot-active.js"></script>
    <!-- knob JS
        ============================================ -->
    <script src="/static/js/knob/jquery.knob.js"></script>
    <script src="/static/js/knob/jquery.appear.js"></script>
    <script src="/static/js/knob/knob-active.js"></script>
    <!--  wave JS
        ============================================ -->
    <script src="/static/js/wave/waves.min.js"></script>
    <script src="/static/js/wave/wave-active.js"></script>
    <!--  todo JS
        ============================================ -->
    <script src="/static/js/todo/jquery.todo.js"></script>
    <!-- plugins JS
        ============================================ -->
    <script src="/static/js/plugins.js"></script>
    <!--  Chat JS
        ============================================ -->
    <script src="/static/js/chat/moment.min.js"></script>
    <script src="/static/js/chat/jquery.chat.js"></script>
    <!-- main JS
        ============================================ -->
    <script src="/static/js/main.js"></script>
    <!-- tawk chat JS
        ============================================ -->

    <script type="text/javascript">
        (function() {
            var fn = function() {
            Bokeh.safely(function() {
                (function(root) {
                function embed_document(root) {
                    
               // var docs_json = document.getElementById('27e6a12d-208b-438a-8c49-c8368fa75869').textContent;
               // var render_items = [{"docid":"21fe5109-6193-4d41-8c7f-dafb2a42a81b","roots":{"62bfcc43-5f2d-49c9-bc26-f95d3f0c7272":"cfb06135-5f32-4d8c-a74e-a432fd178c4e"}}];
                //root.Bokeh.embed.embed_items(docs_json, render_items);
                
                }
                if (root.Bokeh !== undefined) {
                    embed_document(root);
                } else {
                    var attempts = 0;
                    var timer = setInterval(function(root) {
                    if (root.Bokeh !== undefined) {
                        embed_document(root);
                        clearInterval(timer);
                    }
                    attempts++;
                    if (attempts > 100) {
                        console.log("Bokeh: ERROR: Unable to run BokehJS code because BokehJS library is missing")
                        clearInterval(timer);
                    }
                    }, 10, root)
                }
                })(window);
            });
            };
            if (document.readyState != "loading") fn();
            else document.addEventListener("DOMContentLoaded", fn);
        })();
        </script>

        <!-- =============================================== -->
    <!-- <script src="/static/js/tawk-chat.js"></script> -->